@font-face { font-family: "JetBrains Mono Regular"; src: url('../fonts/webfonts/JetBrainsMono-Regular.woff2') format("woff2");
}
@font-face {
    font-family: "JetBrains Mono SemiBold"; src: url('../fonts/webfonts/JetBrainsMono-SemiBold.woff2') format("woff2");
}
@font-face {
    font-family: "JetBrains Mono Bold"; src: url('../fonts/webfonts/JetBrainsMono-Bold.woff2') format("woff2");
}
@font-face {
    font-family: "JetBrains Mono ExtraLight"; src: url('../fonts/webfonts/JetBrainsMono-ExtraLight.woff2') format("woff2");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.upper_header_container{
    margin-left: 7%;
    display: flex;
}

.imaga {
    float: left;
}

.label{
    margin-left: 3%;
    margin-top: 1%;
}

.label h1{
    font-family: "JetBrains Mono Bold";
    color:  #6ace47;
    font-size: 30px;
}

.label p{
    font-family: "JetBrains Mono Regular";
    color:  #668658;
    font-size: 20px;
    margin-top: 10px;
}

.logo{
    width: 150px;
    height: 150px;
    border-color: #668658;
    border-style: solid;
    border-radius: 50%;
}

body p{
    align-items: center;
    color: #99b0be;
    font-family: "JetBrains Mono ExtraLight";
    padding-top: 20px;
    font-size: 20px;
}

#navigation_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation_bar li{
    float: left;
    border-right:1px solid #99b0be;
}

#navigation_bar li:last-child {
    border-right: none;
}

#navigation_bar a{
    display: block;
    font-family: "JetBrains Mono ExtraLight";
    color: #cb7730;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#navigation_bar a:hover {
    text-decoration: underline;
    color: #7d87c5 ;  /*#9876aa*/
    background-color: #27292a;

}
#navigation_bar a:visited {
    text-decoration: none;
}

#navigation_bar a:focus {
    text-decoration: none;
    color: inherit;
}
#ois {
    position: absolute;
    right: 0;
}

body{
    background-color: #3c3f41;
}

main {
    padding-left: 2%;
}

main h1 {
    font-family: "JetBrains Mono SemiBold";
    color: #ffc557;
    padding-top: 10px;
}

main h2 {
    font-family: "JetBrains Mono SemiBold";
    padding-top: 20px;
    font-size: 20px;
    color: #b6b428;
}
main ul {
    padding-top: 10px;
    padding-left: 2%;
}

main li{
    font-family: "JetBrains Mono Regular";
    font-size: 20px;
    color: #9876aa;
}

footer{
    margin-top: 10px;
    background-color: #333333FF;
    padding: 1% 1% 1% 1%;
    font-size: 16px;
}